:root{
    --white:#fff;
    --black: #000;
    --search-bar: #303134;
    --bg-all:#202124;
    --nav-links:#969ba1;
    --search-results:#83abea;
    --results-description:#b8bcc0;
    --header-icon:#9aa0a6;

    --size-10:0.625rem;
    --size-14:0.875rem;
    --size-16:1rem;
    --size-18:1.125rem;
    --size-20:1.25rem;
    --size-30:1.875rem;
    --size-40:2.5rem;
    --size-50:3.125rem;
    --size-100:6.25rem;
    --size-150:9.375rem;
}

html{ scroll-behavior: smooth; }

body{
    font-weight: 400;
    font-size:0.875rem;
    line-height: 1.6;
    letter-spacing: 0;
    margin:0;
    padding:0;
    background-color: var(--bg-all);
}
*,
::after,
::before{
    box-sizing: border-box;
}

ul{
    padding:0;
    margin:0;
    list-style: none;
}
a {text-decoration: none;}
p {margin-top:0;}