.header-top{
    display: inline-flex;
    align-items: center;
}

h1{
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    color:;
}

.header-top input[type=text]{
    argin-left: 18px;
    border-radius: 30px;
    border-right: none;
    line-height: 2;
    margin-right: 0; 
}